In [4]:
# Indentacion

print ('Hola mundo')

if 1==2:
    print("condicion 1")
    print("condicion 2")

print("fin del IF")

variable1 = 5
variable2 = 'Manzana'
variable3 = 3.5

type (variable3)

Hola mundo
fin del IF

float

In [9]:
# Listas

var_lista = [3, 5, 7 ] # lista enteros
var_lista_vacio =[] # lista vacios
var_lista_mixto = [1, "Manzana", 44.4] # lista mixta
var_lista_anidada = [3, "Durazno", [2, 6, 8]] # lista anidada

var_lista_anidada [2][2]

8

In [11]:
for elemento in var_lista:
    print (elemento*2)

6
10
14

In [31]:
# Diccionarios
'''
{
'key1': value1,
'key2': value2
}
'''

var_dict = {}
var_dict_in = {1 : "Pl√°tano" ,2: "Pelota"}
var_dict_mixta = {1: 34, 'name': 'Juan'}
var_dict_str = {'name': 'Juan','age': 36}
var_dict_otr = {'correos':['ana@gmail.com','genaro.gmail.com']}


print (var_dict_str['name'])
print (var_dict_str['age'])


address= (var_dict_str.get('address'))
var_dict_str['address']='LIMA'
var_dict_str['pais']='PERU'
print(var_dict_str)

Juan
36
{'name': 'Juan', 'age': 36, 'address': 'LIMA', 'pais': 'PERU'}

In [ ]:
# Funciones

def read_table(tabla):
    query= f"select * from {tabla}"
    return execute_query (query)

var_productos = read_table ('productos')
var_categorias = read_table ('categorias')

In [30]:
def suma (a, b):
    sum = a + b
    return sum 

var1= suma (5, 8)
print (var1)

13